$mapSize: $NEXT_PUBLIC_MAP_SIZE;
.map-grid {
  display: grid;
  grid-template-columns: repeat(calc(2 * (#{$mapSize} + 1)), minmax(0, 1fr));
  grid-template-rows: repeat(calc(2 * (#{$mapSize} + 1) - 1), minmax(0, 1fr));
  gap: 0;
  align-items: stretch;
  aspect-ratio: calc(2 * (#{$mapSize} + 1)) / calc(2 * (#{$mapSize} + 1) - 1);
}

.map-container {
  padding: 2px;
  background: #fdfdfd;
  border: 2px solid #138b1d;
  outline: 4px double #34e480;
  border-radius: 4px;
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1),
    inset 0 0 10px rgba(139, 69, 19, 0.2);
}

.map-overlay {
  position: absolute;
  top: 50%;
  -ms-transform: translate(-50%, -45%);
  -webkit-transform: translate(-50%, -45%);
  transform: translate(-50%, -45%);
  color: #ffd676;
  font-weight: 600;
  text-shadow: 2px 1px 1px #653c00;
  margin: 0 !important;
  padding: 0 !important;
  pointer-events: none;
  font-family:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
}
